<div id="<%= dom_id flag %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= flag.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= flag.value %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this flag", flag, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this flag', edit_flag_path(flag), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
