<div id="<%= dom_id command %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= command.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Flags:</strong>
    <%= command.flags.join("\n") %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is available:</strong>
    <%= command.is_available %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Requires admin:</strong>
    <%= command.requires_admin %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this command", command, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this command', edit_command_path(command), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
